root = true

[*]
max_line_length = 120
tab_width = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
ij_any_keep_line_breaks = false
indent_size = tab

[*.{tsx,ts}]
ij_typescript_import_merge_members = true
ij_typescript_import_sort_members = true
ij_typescript_import_sort_module_name = true
ij_typescript_import_prefer_absolute_path = true
ij_typescript_blank_lines_after_imports = 1

[*.{plist,tmTheme}]
indent_style = tab
tab_width = 4
