### macOS ##############################################################################################################
.DS_Store
__MACOSX

### IDE ################################################################################################################
.idea

### Local ##############################################################################################################
.env

### Logs ###############################################################################################################
*.log

### Java ###############################################################################################################
build
.gradle
*.hprof

### PHP ################################################################################################################
var
vendor

### NodeJS #############################################################################################################
dist
node_modules

### Terraform ##########################################################################################################
*.tfvars
*.tfstate.backup
.terraform

### Ansible ############################################################################################################
.ansible
*.retry

### Sonar Scanner ######################################################################################################
.scannerwork

### Project ############################################################################################################
