{
  "extends": [
    "stylelint-config-recommended"
  ],
  "rules": {
    "color-no-hex": true,
    "at-rule-no-unknown": null,
    "indentation": 2,
    "property-no-unknown": null,
    "color-hex-length": "long",
    "color-hex-case": "upper"
  }
}
